{{#if files}}
{{#each files}}
    <tr>
        <td>
            {{{matchIcon extension}}}
            <a href="/uploads/{{name}}">{{name}}</a>
        </td>
        <td>{{matchType extension}}</td>
        <td>{{matchSize fileSizeInBytes}}</td>
        <td>{{lastModify}}</td>
        <td>
            <span><i class="fa fa-download action"></i></button>
                <span><i class="fa fa-edit action"></i></button>
                    <span><i class="fa fa-trash action"></i></button>
        </td>
    </tr>
{{/each}}
{{/if}}


                <tr>
                    <td>
                        <i class="fa fa-folder"></i>
                        <a href="/uploads/">Document</a>
                    </td>
                    <td>Folder</td>
                    <td>-</td>
                    <td>02-12-2019</td>
                    <td>
                        <span><i class="fa fa-download action"></i></button>
                            <span><i class="fa fa-edit action"></i></button>
                                <span><i class="fa fa-trash action"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-folder"></i>
                        <a href="#">Video</a>
                    </td>
                    <td>Folder</td>
                    <td>-</td>
                    <td>02-12-2019</td>
                    <td>
                        <span><i class="fa fa-download action"></i></button>
                            <span><i class="fa fa-edit action"></i></button>
                                <span><i class="fa fa-trash action"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-folder"></i>
                        <a href="#">Downloads</a>
                    </td>
                    <td>Folder</td>
                    <td>-</td>
                    <td>02-12-2019</td>
                    <td>
                        <span><i class="fa fa-download action"></i></button>
                            <span><i class="fa fa-edit action"></i></button>
                                <span><i class="fa fa-trash action"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fas fa-file-archive"></i>
                        <a href="#">fontawesome-free-5.15.1-web.zip</a>
                    </td>
                    <td>Compressed file</td>
                    <td>3.5 MB</td>
                    <td>02-07-2020</td>
                    <td>
                        <span><i class="fa fa-download action"></i></button>
                            <span><i class="fa fa-edit action"></i></button>
                                <span><i class="fa fa-trash action"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fas fa-file"></i>
                        <a href="#">Account.txt</a>
                    </td>
                    <td>Text Document</td>
                    <td>18 KB</td>
                    <td>11-02-2020</td>
                    <td>
                        <span><i class="fa fa-download action"></i></button>
                            <span><i class="fa fa-edit action"></i></button>
                                <span><i class="fa fa-trash action"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fas fa-file-image"></i>
                        <a href="#">img101.png</a>
                    </td>
                    <td>JPG Image</td>
                    <td>2.2 MB</td>
                    <td>11-02-2020</td>
                    <td>
                        <span><i class="fa fa-download action"></i></button>
                            <span><i class="fa fa-edit action"></i></button>
                                <span><i class="fa fa-trash action"></i></button>
                    </td>
                </tr>